.upper-section {
  height: auto;
  padding-top: 1rem;
}
.row {
  width: 100%;
}

.cats-items .info {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cats-items .info:first-child {
  /* border-top-left-radius:2px solid blue ; */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cats-items .info:last-child {
  /* border-top-right-radius:2px solid blue ; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cats-items .info {
  margin: 0em 2em;
  padding: 0.2em 1em;
  border: 1px solid blue;

}
.cats-items .info:hover {
    background:blue;
    color: white;
}

.info.active {
  background: blue;
  color: white;
}

/* middle section  */

.middle-section {
  margin-top: 3rem;
}

.middle-section p {
  margin-left: 1rem;
}

.card {
  width: 60%;
  margin: auto;
}

.card img {
  cursor: pointer;
  width: 100%;
  height: 20rem;
}

.cat-name {
  margin: 0.5em 1em;
}

/* image gallery */

.h2 {
  margin-top: 0rem;
  margin-left: 1rem;
  margin-bottom: 1rem !important;
  font-size: 1.8rem !important;
}

.image-gallery .h2 {
  margin: 1rem 1rem;
}

.image-gallery .cat-pic {
  width: 80%;
  height: 16rem;
  margin: auto;
  background: blue;
}

.image-gallery .cat-pic img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-gallery .col-4 {
  margin-bottom: 6rem;
}

.image-gallery .details-block {
  margin: auto;
  width: 80%;
}

.add-new-btn {
  margin: 1rem 1rem;
}

.edit-form-header {
  display: flex;
  justify-content: flex-end;
}
/* third section */

.add-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third-section {
  margin-top: 1.8rem;
}

.close-btn {
  background: #000;
  color: white;
  border-radius: 4px;
}

.close-btn span {
  font-size: 1.2rem;
}

.close-btn.edit-cls-btn {
  background: #000;
  color: white;
  border-radius: 4px;
}

.my-img-div{
  margin: 3rem 0;
} 

/* media queries */

@media screen and (max-width: 425px) {
  .third-section form {
    padding-left: 1rem;
  }

  .card img {
    height: 10rem;
  }
}

@media screen and (min-width: 425px) {
  .third-section form {
    padding-left: 1rem;
  }
}

/* media queries */
